<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template.css">
    <title>Email confirmation</title>
</head>
<body>
  <div class="card">
    <div class="container ">
      <h1><b>Change Phone Number Success</b></h1> 
      <hr>
      <p>Your Phone Number has been successfully changed</p>
      <p>Old Phone Number : {{phone}}</p>
      <p>New Phone Number : {{newPhone}}</p>
    </h4>
  </div>
</body>
</html>