<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template.css">
    <title>Email confirmation</title>
</head>
<body>
  <div class="card">
    <div class="container ">
      <h1><b>Verify Your Account</b></h1> 
      <hr>
      <p>Hi, {{username}}</p>
      <p>One more step to complete the registration</p>
      <div class="but-cont">
        <button class='button'>Verify My account</button>
      </div>
    </h4>
  </div>
</body>
</html>